html[data-theme="dark"] aside.nav header a svg g {
    fill: #ffffff;
}

label.field-label .required {
    font-size: rem(24);
}

.file__thumbnail {
    max-width: rem(100);
    display: block;
    height: unset;
}

.render-title {
    font-size: rem(40);
}
